server {
    listen 80;
    server_name consul.cedoni.com;
location /{

rewrite ^(.*)$ https://consul.cedoni.com$1 break;
client_max_body_size 20M;

}
}

server {
    listen 443 ssl;
    server_name consul.cedoni.com;
    access_log /var/log/nginx/consul-access.log;
    error_log /var/log/nginx/consul-error.log;
ssl on;

ssl_certificate /etc/nginx/ssl/pubcert.pem;
ssl_certificate_key /etc/nginx/ssl/privkey.pem;

    ssl_ciphers "EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH";
    ssl_ecdh_curve secp384r1;
    ssl_protocols TLSv1.2;
    ssl_prefer_server_ciphers on;
#    ssl_session_cache shared:SSL:10m;
    add_header Strict-Transport-Security "max-age=63072000; includeSubdomains; preload";
    add_header X-Content-Type-Options nosniff;
    add_header X-Frame-Options SAMEORIGIN;
    add_header "X-Permitted-Cross-Domain-Policies" "none";
    add_header "X-Download-Options" "noopen";
    add_header X-XSS-Protection "1; mode=block";
    add_header X-Robots-Tag none;

location / {
    proxy_pass http://{{ ansible_default_ipv4.address }}:8500;
    proxy_set_header Host $host;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Real-IP $remote_addr;
    }
}
